{% extends "base.html" %}

{% block page_title %}
{{ block.super }}
{{ recipe.name|default:"New Recipe" }}
{% endblock page_title %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="row">
    <h1>{% if recipe.name %}Edit - {% endif %}{{ recipe.name|default:"New Recipe" }}</h1>
</div>

{% include "messages.html" %}

<form action="{% if recipe %}{% url 'recipe:edit' recipe.pk %}{% else %}{% url 'recipe:new' %}{% endif %}" method="post">
    {% csrf_token %}

    <div class="row">
        <h3>Title</h3>
        <input type="text"
               name="name"
               class="form-control"
               placeholder="Spaghetti and Meatballs"
               value="{{ recipe.name }}"/>
    </div>

    <div class="row">
        <h3>Brief Description<br>
            <small>Provide a short description of the recipe (120 Characters max.)</small>
        </h3>
        <textarea name="short"
                  class="form-control"
                  placeholder="A traditional italian dinner with herbs and spices">{{ recipe.short_description }}</textarea>
    </div>

    <div class="row">
        <h3>Directions</h3>
        <textarea type="text"
               name="details"
               class="form-control"
               rows="6"
               placeholder="Spaghetti and Meatballs">{{ recipe.details }}</textarea>
    </div>

    <div class="row">
        <h3>Ingredients</h3>
    </div>


    {% if recipe.line_items.all %}
        {% for ingredient in recipe.line_items.all %}
            {% with  modal_suffix=forloop.counter modal_icon="pencil" modal_button_label="Edit" button_class="btn-edit btn-circle btn-sm"%}
            <div class="row">
                <p style="display:inline;">{{ ingredient.full_name }}</p>
                <span data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    {% include "recipes/ingredients/edit_modal.html" %}
                </span>
            </div>
            {% endwith %}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Woah now!</strong> There don't seem to be any ingredients in this recipe!
            <a href="#" data-toggle="modal"
               data-target="#ingredient_modal_add"
               class="alert-link">Add one</a> now?
        </div>
    {% endif %}


    {% with ingredient="" button_class="btn-primary btn-sm" modal_suffix="add" modal_button_label="Add Ingredient" modal_icon="plus"%}
        <div class="row {% if not recipe.line_items.all %}hidden{% endif %}">
            {% include "recipes/ingredients/edit_modal.html" %}
        </div>
    {% endwith %}

    <br>

    <div class="row ">
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-edit btn-block">Cancel</button>
        </div>
    </div>


</form>

{% endblock content %}