{% extends "base.html" %}

{% block page_title %}
{{ block.super }}
{{ recipe.name|default:"New Recipe" }}
{% endblock page_title %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% include "testing_panel.html" %}

{% include "messages.html" %}

<div class="row">
    <h1>{% if recipe.name %}Edit - {% endif %}{{ recipe.name|default:"New Recipe" }}</h1>
</div>


<form id="recipeForm"
      action="{% if recipe %}{% url 'recipe:edit' recipe.pk %}{% else %}{% url 'recipe:new' %}{% endif %}"
      method="post">
    {% csrf_token %}

    <div class="row">
        <h3>Title</h3>
        <input type="text"
               name="name"
               class="form-control"
               placeholder="Spaghetti and Meatballs"
               value="{{ recipe.name }}"/>
    </div>

    <div class="row">
        <h3>Brief Description<br>
            <small>Provide a short description of the recipe (120 Characters max.)</small>
        </h3>
        <textarea name="short"
                  class="form-control"
                  placeholder="A traditional italian dinner with herbs and spices">{{ recipe.short_description }}</textarea>
    </div>

    <div class="row">
        <h3>Directions</h3>
        <textarea type="text"
               name="details"
               class="form-control"
               rows="6"
               placeholder="Spaghetti and Meatballs">{{ recipe.details }}</textarea>
    </div>

    <div class="row">
        <h3>Ingredients</h3>
    </div>
</form>


{% if recipe.line_items.all %}
    {% for ingredient in recipe.line_items.all %}
        <div class="row">
            {% with  modal_suffix=forloop.counter modal_icon="pencil" modal_button_label="Edit" button_class="btn-edit btn-circle btn-sm btn-tooltip"%}
            {% include "recipes/ingredients/ingredient_modal.html" %}
            {% endwith %}
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning" role="alert">
        <strong>Woah now!</strong> There don't seem to be any ingredients in this recipe!
        <a href="#" data-toggle="modal"
           data-target="#ingredient_modal_add"
           class="alert-link">Add one</a> now?
    </div>
{% endif %}


<div class="row {% if not recipe.line_items.all %}hidden{% endif %}">
    {% with ingredient="" button_class="btn-primary btn-sm" modal_suffix="add" modal_button_label="Add Ingredient" modal_icon="plus"%}
    {% include "recipes/ingredients/ingredient_modal.html" %}
    {% endwith %}
</div><br>

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </div>
    <div>
        <a class="btn btn-default"
           href="{% if recipe %}{% url "recipe:detail" recipe.pk %}
                {% else %}{{ request.META.HTTP_REFERER }}{% endif %}">Cancel</a>
    </div>
</div><br>

{% if recipe %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form method="POST"
            action="{% url 'recipe:edit' recipe.pk %}">
{#            <input type="hidden" name="delete-recipe" value="{{ recipe.pk }}"/>#}
            <button type="submit" class="btn btn-danger btn-block">Delete Recipe</button>
        </form>
    </div>
</div>
{% endif %}

<script>
$(document).ready(function() {
    ajaxPrep("{{ csrf_token }}");

    id_or_new = {% if recipe %}{{ recipe.pk }}{% else %}"new"{% endif %};

    food_week.testing.gather_data = function() {
        console.log("Gathering Data");
        return $( "#recipeForm" ).serialize();
    };
});
</script>

{% endblock content %}