
.btn-tooltip.btn-sm:hover {
    transition: background 0.5s ease 0.4s;
    background: lightgray;
}

.btn-tooltip.btn-sm:not(:hover) {
    transition: background 0.5s ease 0.4s;
    background: transparent;
}

.btn-tooltip.btn-sm:not(:hover) > span:not(.glyphicon) {
    background: transparent;
    color: transparent;
}
.btn-tooltip.btn-sm:hover > span:not(.glyphicon) {
    transition: all 0.5s ease 0.2s;
    background: transparent;
    color: black;
}
.btn-tooltip.btn-sm:hover {
    padding-right: 6px;
}

/*.btn-*/